.badge{
        background-color: tomato;
        width: 25px;
        height: 25px;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-weight: 600;
        left: 18px;
}
.fog_dot{
        background-color: tomato;
        width: 5px;
        height: 5px;
        border-radius: 15px;
        display: flex;
        position: absolute;
        color: white;
        font-weight: 600;
        left: 470px;
        top: 47px;
}
